*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contenedor{
    margin-left: 100px;
    background-color: rgb(192, 191, 191);
    padding: 20px;
    border-radius: 20px;
}
#peso{
    width: 100px;
    margin-left: 200px;
}
#altura{
    width: 100px;
    margin-left: 200px;

}
#output{
    border-radius: 50%;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    margin-left: 200px;
    padding: 35px;
    border: solid 1px ;
    color: white;

}
#imagen{
    width: 500px;
    height: 160px;
    margin-top: 50px;
    
}
